.registerSection{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.registerFormWrapper {
  border-radius: 30px;
  width: 335px;
  background-color: var(--card-background);
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;  
}
.textAccent {
  color: var(--text-accent);
}
.title{
  margin-bottom: 20px;
}
.logoIcon{
  fill: var(--foreground);
  margin-bottom: 40px;
}
