.dashboardWrapper {
  border-radius: 30px;
  width: 335px;
  /* height: 478px; */
  background: var(--card-background);
  padding: 20px;
  
}
@media screen and (min-width: 768px) {
  .dashboardWrapper {
    width: 704px;
height: 336px;
display: flex;
flex-direction: row;
gap: 32px;
padding: 32px;
  }}