.toast {
  background-color: var(--input-background, #1c1c1c) !important;
  color: var(--foreground,) !important;
  border: 1px solid var(--text-accent) !important;
  font-family: inherit !important;
}

.errorToast {
  border-color: var(--error, var(--error)) !important;
}

.successToast {
  border-color: var(--success, var(--success)) !important;
}
