.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar{
    width: 335px;
}

.contentWrapper {
    padding: 20px 40px;
    border-radius: 30px;
  width: 335px;
  height: 478px;
  background: var(--card-background);
    
}